@import "tailwindcss";
@layer utilities {
  .scrollbar-hide {
    /* For Firefox */
    scrollbar-width: none;
    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
  }

  /* For Chrome, Safari, and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
@layer base {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
}
